html {
  font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: sans-serif; /* this should be the rest of the output you got from Google Fonts */
  background-image: url("/images/background.png");
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
 


.main{
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;

}
h1 {
  padding: 50;
  color: #00539f;
  font-size: 60px;
  text-align: center;

}
img {
  display: block;
  margin: 0 auto;
  width: 500px;
  padding-bottom: 1cm;
 
}
header {
  background-color: white;
  width: auto;
  
  margin: 0;
}
