html {
  font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Montserrat", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #aed3c2;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #c2c48d;
  padding: 0px 20px 20px 20px;
  border: 2px solid black;
}
h1 {
  margin:0px
  padding: 20px 0;
  color: #00539f;
  text-shadow: 1px 1px 0px black;
}
img {
  display: block;
  margin: 0 auto;
  width: 400px;
  border: 2px solid darkgreen
}